html, body {
    height: 100vh;
}

/* CABECERA */
.navbar .flex-1 {
    flex: 1;
    flex-basis: 100%;
}

.navbar-items {
    height: 5vh;
    max-height: 5vh;
}

.logo {
    height: 15vh;
}

#botonCerrarSesion:hover:after {
    content: " Cerrar sesión";
}

#botonIniciarSesion:hover:after {
    content: " Iniciar sesión";
}

#botonAdmin:hover:after {
    content: " Go to Admin panel";
}



/* CUERPO */
.card {

    -webkit-transition: box-shadow 0.2s; /* For Safari 3.1 to 6.0 */
    transition: box-shadow 0.2s;
}
.card:hover {
    -webkit-box-shadow: 0px 0px 5px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 6px rgba(0,0,0,0.75);
}
.imagenCarta {
    max-height: 30vh;
    max-width: 100%;
}

/* PROJECT */

.header {
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 15vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.header > h2 {
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

/* PIÉ */
footer {
    height: 10vh;
}

.iconos > i {

    font-size: 5vh;
    padding: 2vh;
}